<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: html_head">


</head>



<div th:replace="template :: header"></div>
<div th:replace="template :: menu"></div>

<body>


	<main id="main" class="main">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1><i class="fas fa-file-invoice-dollar" style="color:#218838"></i> <strong>FACTURAS DE
									COMPRAS</strong></h1>
						</div>

					</div>
				</div><!-- /.container-fluid -->
			</section>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="inicio">Inicio</a></li>
					<li class="breadcrumb-item active">Facturas de compras</li>
				</ol>
			</div>

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<button class="btn btn-primary"
						style="color: #fff;background-color: #0069d9;border-color: #0062cc;;" href="javascript:;"
						onclick="agregarFacturaInicial(); return false"><i class="fas fa-plus"></i> Nueva</button>


				</div>
			</div>

			<div class="card-body">

				<div align="right" class="form-group">
					<input type="text" class="form-control pull-right" style="width:20%;" id="searchcompras"
						placeholder="Type to search table...">
				</div>
				<br>

				

				<div class="card-block">
					<table class="table table-bordered table-striped" id="compras">
						<thead>
							<tr style="background: #778899">
								<th><strong>NÚMERO</strong></th>
								<th><strong>FECHA</strong></th>
								<th><strong>ITEMS</strong></th>
								<th><strong>TOTAL</strong></th>
								<th><strong>ORDEN COMPRA</strong></th>
								<th><strong>ENTRADA POR</strong></th>
								<th><strong>RECIBIDA POR</strong></th>
								<th><strong>PROVEEDOR</strong></th>
								<th><strong>ESTADO</strong></th>
								<th style="width: 9%"><strong>ACCIÓN</strong></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="factura :${listaFacturaCompra}">
								<td th:text="${factura.id}"></td>
								<td th:text="${factura.fecha}"></td>
								<td th:text="${factura.items}"></td>
								<td th:text="${factura.total}"></td>
								<td th:if="${factura.id_orden_compra<2 }"><span class="text_naranja">SIN ASIGNAR</span>
								</td>
								<td th:if="${factura.id_orden_compra}>1 "><span th:text="${factura.id_orden_compra}"></span>
								</td>
								
								<td th:text="${factura.nombres}"></td>
								<td>
									<span th:each="aprobado :${lstUser}">
										<span th:if="${aprobado.idusuario}==${factura.id_usuario_recibo}"
											th:text="${aprobado.getEmpleado().nombre}+ ' '+ ${aprobado.getEmpleado().apellidos}"></span>
									</span>
								</td>
								<td th:if="${factura.proveedor ==null}"><span class="text_verde">Sin Proveedor</span>
								</td>
								<td th:if="${factura.proveedor !=null}"><span th:text="${factura.proveedor}"></span>
								</td>




								<td th:if="${factura.id_estado}==2"><span class="text_naranja"
										th:text="${factura.estado}"></span></td>
								<td th:if="${factura.id_estado}==3"><span class="text_azul"
										th:text="${factura.estado}"></span></td>
								<td th:if="${factura.id_estado}==4"><span class="text_verde"
										th:text="${factura.estado}"></span></td>
								<td th:if="${factura.id_estado}==5"><span class="text_rojo"
										th:text="${factura.estado}"></span></td>
								<td
									th:if="${factura.id_estado}==1">
									<span class="text_negro" th:text="${factura.estado}"></span>
								</td>
								<td>
									<span th:if="${factura.id_estado}!=1">
										<button class="btn btn-primary ModalEditarCompras"
											th:onclick="editarFacturaCompra('[(${factura.id})]')"
											style="color: #000000;background-color: #66CDAA;border-color: #20B2AA"><i
												class="far fa-edit"></i></button>
									</span>
									<span th:if="${factura.id_estado}==1">
										<button class="btn btn-primary ModalADDOrdenes"
											th:onclick="addFacturaCompra('[(${factura.id})]')"
											style="color: #000000;background-color: #66CDAA;border-color: #20B2AA"><i
												class="far fa-edit"></i></button>
									</span>
									<button class="btn btn-default btnEliminarOrden"
										th:onclick="eliminarOrdenCompra('[(${factura.id})]')"
										style="color: #fff;background-color: #8B0000;border-color: #800000"><i
											class="fas fa-trash"></i></button>
								</td>
							</tr>
						</tbody>
					</table>


				</div>
			</div>

		</div>

	</main>


	<!-- The Modal Add Ordenes -->
	<div class="modal" id="ModalADDFacturas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<form class="form-horizontal" role="form" id="datos_factura" method="post">

					<!-- Modal Header -->
					<div class="modal-header" style="background: #17a2b8;">
						<h4 class="modal-title">ENTRADA DE FACTURA DE COMPRA</h4>
						<!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body">


							<div id="print-area">



								<div class="row ">
									<hr />
									<div class="col-lg-6 col-md-6 col-sm-6">
										<h2>Detalles del proveedor :</h2>
										<select style="width: 50%" class="proveedor2 form-control" name="proveedor2"
											id="proveedor2">
											<option value="">Selecciona el proveedor</option>
										</select>
										<h5><strong>Proveedor: </strong><Label id="proveedorNF"></Label></h5>
										<span id="direccionF"></span>
										<input type="hidden" id="idProveedorF" name="idProveedorF" value="">
										<h5><strong>E-mail: </strong><span id="emailF"></span></h5>
										<h5><strong>Teléfono: </strong><span id="telefonoF"></span></h5>

										<div class="row">
											<div class="col-lg-6">

												<label for="txtOrdenCompra">Orden de Compra</label>
												<!-- <input type="text"  id="txtOrdenCompra" name="txtOrdenCompra" value="" autofocus required > -->
												<select id="txtOrdenCompra" name="txtOrdenCompra"
													class="form-control custom-select" required>
													<option value="1">S/N</option>
													<option th:each="id_orden_compra : ${lstOrdenAprobadas}" th:value="${id_orden_compra}"
														th:text="${id_orden_compra}"></option>
												</select>
											</div>
											<div class="col-lg-6">
												<label for="txtNumeroFactura">No. Factura</label>
												<input type="text" class="form-control" id="txtNumeroFactura"
													name="txtNumeroFactura" value="">
											</div>

										</div>

									</div>

									<div class="col-lg-6 col-md-6 col-sm-6">
										<h2>Detalles de la factura de compra :</h2>
										<div class="row">
											<div class="col-lg-5">
												<h4><strong>Entrada #: </strong><label id="idFactura" value=""></label>
												</h4>
												<input type="hidden" id="idCompra" name="idCompra" value="">
											</div>
											<div class="col-lg-5">
												<h4><strong>Fecha: </strong>
													<label id="fecha" value=""></label>
												</h4>
												<input type="date" class="form-control" id="datepickerF" autofocus
													required="true">
											</div>

										</div>
										<div class="row">
											<div class="col-lg-5">

												<label for="txtFormaPagoF">Forma de Pago</label>
												<select id="txtFormaPagoF" name="txtFormaPagoF"
													class="form-control custom-select" required>
													<option selected disabled>Seleccionar</option>
													<option th:each="fp : ${formasPagos}" th:value="${fp.id_forma_pago}"
														th:text="${fp.descripcion}"></option>
												</select>

											</div>


											<div class="col-lg-5">
												<label for="txtEnvioF">Método de envío</label>
												<select id="txtEnvioF" name="txtEnvioF"
													class="form-control custom-select" required>
													<option selected disabled>Seleccionar</option>
													<option th:each="plaz : ${plazos}" th:value="${plaz.id_plazo}"
														th:text="${plaz.descripcion}"></option>

												</select>
											</div>

										</div>

										<div class="row">
											<div class="col-lg-5">

												<label for="txtDeposito">Deposito</label>
												<select id="txtDeposito" name="txtDeposito"
													class="form-control custom-select">
													<option selected disabled>Seleccionar</option>
													<option th:each="dep : ${depositos}" th:value="${dep.id_deposito}"
														th:text="${dep.descripcion}"></option>
												</select>

											</div>


											<div class="col-lg-5">
												<label for="txtMonedaF">Moneda</label>
												<select id="txtMonedaF" name="txtMonedaF"
													class="form-control custom-select" required>
													<option selected disabled>Seleccionar</option>
													<option th:each="moneda : ${monedas}" th:value="${moneda.id}"
														th:text="${moneda.toString()}"></option>
												</select>
											</div>

										</div>
									</div>
								</div>
								<hr>

								<div class="row">

									<div class="col-lg-5">
										<label >Receptor</label>
										<select style="width: 70%" class="receptor custom-select" id="txtReceptor" name="txtReceptor">
											<option value="">Buscar receptor</option>
										</select>
										<input type="hidden" id="idReceptor" name="idReceptor" value="">
									</div>
								</div>
								<hr>

								<div class="row">

									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class='text-center'>Item</th>
														<th class='text-center'>Cantidad</th>
														<th class='text-center'>Código</th>
														<th class='text-center'>Descripción</th>
														<th class='text-center'>Ultimo Precio</th>
														<th class='text-center'>Total</th>
														<th class='text-center'></th>
													</tr>
												</thead>
												<tbody class='items'>
												</tbody>


											</table>


										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<hr />
							</div>



							<button type="submit" class="btn btn-warning" href="javascript:;"
								onclick="guardar_compra(1); return false">Pendiente de recepción</button>
							<button type="submit" class="btn btn-danger" style="margin-left: 120px;" href="javascript:;"
								onclick="salir(); return false">Salir</button>
							<button type="submit" class="btn btn-success" style="float: right;" href="javascript:;"
								onclick="guardar_compra(2); return false">Completado</button>


						</div>
					</div>

				</form>
			</div>

		</div>


	</div>
	<!--FIN DE MODAL ADD NUEVA ORDEN-->

	<!--Modal para agregar items-->
	<form class="form-horizontal" name="guardar_item" id="guardar_item">
		<!-- Modal -->
		<div class="modal fade bs-example-modal-lg" id="addFactura" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

					</div>
					<div class="modal-body">

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<select style="width: 100%" class="productoFac form-control" name="producto" id="producto"
									required>
									<option value="">Selecciona el producto</option>
								</select>
							</div>

							<div class="col-md-12">
								<label>Producto</label>
								<input class="form-control" id="descripcion" name="descripcion" required
									disabled="false"></input>
								<input type="hidden" id="idCompra1" name="idCompra1" value="">
								<input type="hidden" class="form-control" id="action" name="action" value="ajax">
							</div>

						</div>

						<div class="row">
							<div class="col-md-4">
								<label>Cantidad</label>
								<input type="text" class="form-control" id="cantidadC" name="cantidadC" required>
							</div>

							<div class="col-md-4">
								<label>Ultimo Precio</label>
								<input type="text" class="form-control" id="precioC" name="precioC" required>
							</div>

						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" onclick="cerrarModal('addFactura'); return false">Cerrar</button>
						<button type="submit" class="btn btn-info" href="javascript:;"
							onclick="guardarDetalleCompra(); return false">Guardar</button>

					</div>
				</div>
			</div>
		</div>
	</form>
	<!--Fin de modal add items -->

	<!-- The Modal editar ordenes de compras -->

	<div class="modal" id="ModalEditarCompras" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<form class="form-horizontal" role="form" id="datos_editar" method="post">

					<!-- Modal Header -->
					<div class="modal-header" style="background: #17a2b8;">
						<h4 class="modal-title">EDITAR ENTRADA DE FACTURA DE ENTRADA</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" style="overflow: hidden;">
						<div class="box-body">


							<div id="print-area">

								<div class="row ">
									<hr />
									<div class="col-lg-6 col-md-6 col-sm-6">
										<h2>Detalles del proveedor :</h2>
										<h5><strong>Proveedor: </strong><Label id="proveedorNE"></Label></h5>
										<input type="hidden" id="proveedorCE" name="proveedorCE" value="">
										<h5><strong>Dirección: </strong><Label id="direccionE"></Label></h5>
										<h5><strong>E-mail: </strong><Label id="emailE"></Label></h5>
										<h5><strong>Teléfono: </strong><Label id="telefonoE"></Label></h5>
										<div class="row">
											<div class="col-lg-6">

												<label >Orden de Compra</label>
												<!-- <input type="text"  id="txtOrdenCompraE" name="txtOrdenCompraE" value="" onBlur="validarOrdenCompra(2);" autofocus required> -->
												<select id="txtOrdenCompraED" name="txtOrdenCompraED"
													class="form-control custom-select" >
													<option th:each="id_orden_compra : ${lstOrdenAprobadas}" th:value="${id_orden_compra}"
														th:text="${id_orden_compra}"></option>
												</select>

											</div>
											<div class="col-lg-6">
												<label for="txtNumeroFacturaE">No. Factura</label>
												<input type="text" id="txtNumeroFacturaE" name="txtNumeroFacturaE" value="" >
											</div>
										</div>

									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<h2>Detalles de la orden de compra :</h2>
										<div class="row">
											<div class="col-lg-5">
												<h4><strong>Entrada #: </strong><label id="idCompraE"></label></h4>
												<input type="hidden" id="idCompra1E" name="idCompra1E" value="">
											</div>
											<div class="col-lg-5">
												<h5><strong>Fecha: </strong></h5><input type="text" id="datepickerCE">
											</div>

										</div>
										<div class="row">
											<div class="col-lg-5">

												<label for="txtFormaPagoFE">Forma de Pago</label>
												<select id="txtFormaPagoFE" name="txtFormaPagoFE"
													class="form-control custom-select" >
													<option selected disabled>Seleccines</option>
												    <option th:each="fp : ${formasPagos}" th:value="${fp.id_forma_pago}"
													th:text="${fp.descripcion}"></option>
												</select>

											</div>


											<div class="col-lg-5">
												<label for="txtEnvioFE">Método de envío</label>
												<select id="txtEnvioFE" name="txtEnvioFE"
													class="form-control custom-select" >
													<<option selected disabled>Seleccionar</option>
													<option th:each="plaz : ${plazos}" th:value="${plaz.id_plazo}"
														th:text="${plaz.descripcion}"></option>
												</select>
											</div>

										</div>

										<div class="row">
											<div class="col-lg-5">

												<label for="txtDepositoE">Deposito</label>
												<select id="txtDepositoE" name="txtDepositoE"
													class="form-control custom-select" 	>
													<option selected disabled>Seleccionar</option>
													<option th:each="dep : ${depositos}" th:value="${dep.id_deposito}"
														th:text="${dep.descripcion}"></option>													
												</select>

											</div>


											<div class="col-lg-5">
												<label for="txtMonedaFE">Moneda</label>
												<select id="txtMonedaFE" name="txtMonedaFE"
													class="form-control custom-select">
													<option selected disabled>Seleccionar</option>
													<option th:each="moneda : ${monedas}" th:value="${moneda.id}"
														th:text="${moneda.toString()}"></option>
												</select>
											</div>

										</div>									

									</div>
								</div>
								
								<hr>

								<div class="row">

									<div class="col-lg-5">
										<label >Receptor</label>
										<select style="width: 70%" class="receptorE custom-select" id="txtReceptor"
											name="txtReceptor">
											<option value="">Buscar receptor</option>
										</select>
										<input type="hidden" id="idReceptorE" name="idReceptorE" value="">
									</div>
								</div>
								<hr>

								<div class="row">
									<hr />
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class='text-center'>Item</th>
														<th class='text-center'>Cantidad</th>
														<th class='text-center'>Código</th>
														<th class='text-center'>Descripción</th>
														<th class='text-center'>Ultimo Precio</th>
														<th class='text-center'>Total</th>
														<th class='text-center'></th>
													</tr>
												</thead>
												<tbody class='items'>

												</tbody>


											</table>


										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<hr />
							</div>

							<button id="autorizar" type="submit" class="btn btn-success" href="javascript:;"
								onclick="guardar_compraEditadas(2); return false"><span>COMPLETAR COMPRA<br><b>A <label
											id="autorizo"></label></b></span></button>


							<button id="cancelar" type="submit" class="btn btn-danger" style="float: right;"
								href="javascript:;"
								onclick="guardar_compraEditadas(3); return false"><span>CANCELAR<br><b>A <label
											id="cancelo"></b></span></button>

						</div>
					</div>

				</form>
			</div>

		</div>


	</div>

	<div th:replace="template :: mDiaTemplate"></div>

		<div th:replace="template :: loadingTemplate"></div>

	<div th:replace="template :: footer"></div>

</body>



<style type="text/css">
	.text_verde {
		color:#006400;
		font-weight: bold;
	}
	
	.text_rojo {
		color: #C40000;
		font-weight: bold;
	}

	.text_verde {
		color: #060;
		font-weight: bold;
	}

	.text_azul {
		color: #00F;
		font-weight: bold;
	}

	.text_naranja {
		color: #F60;
		font-weight: bold;
	}

	.text_negro {
		color: #000000;
		font-weight: bold;
	}

	.text_normal {
		color: inherit;

	}

	a.active {
		background-color: #4CAF50;
		color: white;
		border-radius: 5px;
	}


	div.nav {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.nav.a {
		display: inline;
	}

	a.bot {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		border-radius: 5px;
	}

	.loader-page {
		position: fixed;
		z-index: 25000;
		background: rgb(255, 255, 255);
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
	}

	.loader-page::before {
		content: "";
		position: absolute;
		border: 2px solid rgb(50, 150, 176);
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-sizing: border-box;
		border-left: 2px solid rgba(50, 150, 176, 0);
		border-top: 2px solid rgba(50, 150, 176, 0);
		animation: rotarload 1s linear infinite;
		transform: rotate(0deg);
	}

	@keyframes rotarload {
		0% {
			transform: rotate(0deg)
		}

		100% {
			transform: rotate(360deg)
		}
	}

	.loader-page::after {
		content: "";
		position: absolute;
		border: 2px solid rgba(50, 150, 176, .5);
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-sizing: border-box;
		border-left: 2px solid rgba(50, 150, 176, 0);
		border-top: 2px solid rgba(50, 150, 176, 0);
		animation: rotarload 1s ease-out infinite;
		transform: rotate(0deg);
	}
</style>



</html>